:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  overscroll-behavior-y: none;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  overscroll-behavior-y: none;
  font-family: "IBM Plex Sans", sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.flex-gap {
  flex-grow: 1;
}

#page-back {
  position: fixed;
  top: 28px;
  left: 24px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#header-text {
  color: #ffffff;
  font-size: 0.8rem;
  flex-grow: 1;
  margin: -6px 0 0 0;
  &.center {
    text-align: center;
    span {
      margin-left: -30px;
    }
  }
}

#page-header {
  background-color: #2D2D2D;
  border-radius: 0 0 16px 16px;
  padding: 18px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


#header-back {
  background-color: transparent;
  border: 0;
  margin: 0 8px 0 0;
  padding: 0;
}

#header-icon {
  margin: 0 8px -2px 0;
}

.subheading {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #999999;
}

.circle-loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  margin-right: 10px;;
}

.circle-loader-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
}

.circle-loader-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#tray-page-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
}

#bottom-tray {
  position: relative;
  margin-top: calc(80vh - 30px);
  z-index: 1000;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px -3px 6px #00000029;
  transition: border-radius 0.3s;
  display: flex;
  flex-direction: column;
  &.sharp-corners {
    border-radius: 0;
  }
}

#bottom-tray-header {
  user-select: none;
  border-bottom: 1px solid #cccccc;
}

#bottom-tray-drag-indicator {
  position: absolute;
  width: 30px;
  top: 6px;
  left: calc(50% - 15px);
  height: 4px;
  border-radius: 2px;
  background-color: #cccccc;
}

#bottom-tray-content {
  flex-grow: 1;
  height: 10px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#page-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

/********************
   Landing page
********************/

#map {
  height: 100%;
  width: 100%;
}

#map-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
}

#landing-contents {
  padding: 32px 24px 0;
}

#landing-input {
  height: 88px;
  padding: 32px;
  border-radius: 24px;
  border: 0;
  background-color: #2D2D2D;
  margin-bottom: 13px;
  width: 100%;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  text-decoration: none;
  margin-bottom: 32px;;
  svg {
    margin-right: 10px;
    flex-shrink: 0;
  }
}

.landing-section {
  margin-bottom: 36px;
}

#landing-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #2D2D2D;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  border: 0;
}

#landing-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  h1 {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
  }
}

#landing-hamburger {
 border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #2D2D2D;
  color: #ffffff;
  z-index: 9999;
  padding: 28px 24px;
}

#sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 74px;
}

#sidebar-close {
  background-color: #000000;
  border-radius: 50%;
  border: 0;
  display: block;
  width: 36px;
  height: 36px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#sidebar-title {
  text-transform: uppercase;
  color: #999999;
  font-size: 0.6rem;
}

#sidebar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    line-height: 1.8;
    margin: 0 0 10px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
.sidebar-lang {
  display: block;
  margin: 5px 0 0 30px;
  background-color: transparent;
  font: inherit;
  font-size: 0.8rem;
  color: #999999;
  border: 0;
  &.selected {
    color: inherit;
  }
}

/********************
    Search page
********************/
#search-input {
  width: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: transparent;
  border: 0;
  border-bottom: 1.5px solid #535353;
  font: inherit;
  font-size: 0.8rem;
  color: #ffffff;
}

#search-results {
  padding: 20px 24px;
}

.search-result-item {
  display: flex;
  margin: 0 0 10px;
  align-items: center;
  padding: 5px 0 10px;
  color: inherit;
  text-decoration: none;
}

.search-item-icon {
  margin-right: 8px;
  width: 32px;
  height: 32px;
}

.search-item-text {
  font-size: 0.8rem;
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: -4px;
  line-height: 1.6;
  color: inherit;
  text-decoration: none;
}

// .bus_number {
//   background-color: #1A73E9;
//   border: 2px solid #1967D3;
//   border-radius: 4px;
//   color: #ffffff;
//   font-weight: bold;
//   font-size: 0.7rem;
//   padding: 0 6px;
// }

.search-result-favourite {
  background-color: transparent;
  border: 0;
}

/********************
    Bus stop page
********************/
.bus-stop-page-list {
  padding: 10px 20px;
}

.bus-stop-item {
  padding: 19px 0 17px;
  border-bottom: 1px solid #D9D9D9;
  &:last-child {
    border-bottom: 0;
  }
}
.bus-item-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.bus-item-icon {
  margin-right: 8px;
  width: 32px;
  height: 32px;
}

.bus-item-trips {
  color: #666666;
  font-size: 0.8rem;
}

.bus-stop-item-row {
  display: flex;
  font-size: 0.7rem;
  margin-bottom: 4px;
}

.bus-stop-item-fromto {
  width: 50px;
  color: #999999;
  flex-grow: 0;
  flex-shrink: 0;
}

.bus-stop-item-desc {
  font-size: 0.7rem;
  color: #999999;
  font-style: italic;
}

#bus-page-flip {
  height: 48px;
  display: flex;
  align-items: center;
  position: fixed;
  right: 16px;
  bottom: 48px;
  background-color: #2D2D2D;
  border: 0;
  border-radius: 18px;
  padding: 0 14px 0 20px;
  color: #ffffff;
  font: inherit;
  font-size: 0.8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

/********************
    Bus route page
********************/
#bus-route-page {
  padding: 24px 20px;
}

#bus-route-fromto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

#bus-route-flip {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2D2D2D;
  border: 0;
  border-radius: 18px;
  color: #ffffff;
  font: inherit;
  font-size: 0.8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

#bus-routes-stops-heading {
  display: flex;
  font-size: 0.7rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D9D9D9;
  padding: 0 0 4px 0;
  margin-bottom: 10px;
  h4 {
    margin: 0;
  }
  span {
    color: #999999;
  }
}

#bus-route-stops-list {
  position: relative;
}

.bus-route-stop-item {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.bus-route-stop-icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.bus-route-stop-text {
  font-size: 0.8rem;
  flex-grow: 1;
  color: inherit;
  text-decoration: none;
}

.bus-route-stop-time {
  font-size: 0.7rem;
  color: #666666;
}

#bus-route-stops-line {
  position: absolute;
  width: 4px;
  background-color: #1967D3;
  top: 30px;
  bottom: 31px;
  left: 6px;
  z-index: -1;
}

.source-marker {
  background-image: url(./assets/icon_green_circle.svg);
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(0, -15px);
}

.destination-marker {
  background-image: url(./assets/icon_location.svg);
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(0, -15px);
}

@media screen and (min-width: 768px) {
  #tray-page-wrapper {
    flex-direction: row-reverse;
  }
  #map-wrapper {
    position: relative;
    height: 100vh;
    flex-grow: 1;
    flex-shrink: 1;
    width: 10px;
  }
  #bottom-tray {
    width: 400px;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .mapboxgl-ctrl-bottom-left {
    bottom: 30px;
  }
  .mapboxgl-ctrl-bottom-right {
    bottom: 30px;
  }
}